<h1>ZE Foooood Yoo Avv Rekuested</h1>
<p>Here's a few bits and bobs for ya</p>
<p>If you wanna nibble on a bitta <%= @id_requested %> or if you like perhapps a bitta <%= @id_requested %></p>

<div class="row">
  <div class="col-md-4">
    Our best item is <%= @item.name %><br><%= image_tag @item.photo_path %></br>
  </div>
