// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: url("http://a4.urbancdn.com/w/s/Xf/S6X12JAVYBVWmE.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center, center
}
body{
  background: transparent;
}

.container{
  width: 1000px;

}

.sub-form{
  width: 250px;
  float: center;
  background: white;
}

.button{
  float: left;

}
.image1{
  width: 200px;
  float: left;

}
.image2{
  width: 200px;
  float: left;
}
.image3{
  width: 200px;
  float: left;
}
.image4{
  width: 200px;
  float: left;
}